.git
.gitignore
.github
.vscode
.vscode-test
*.vsix
*.log
test/
project-plan.md
project-qa-plan.md
plans/
.DS_Store
*.map
src/
webpack.config.js
tsconfig.json
tsconfig.test.json
.eslintrc.json
.prettierrc
dist/
!dist/**
node_modules/**
!node_modules/@picovoice/pvrecorder-node/lib/mac/**/pv_recorder.node
!node_modules/@picovoice/pvrecorder-node/lib/windows/**/pv_recorder.node
!node_modules/@picovoice/pvrecorder-node/lib/linux/**/pv_recorder.node
!node_modules/@picovoice/pvrecorder-node/package.json
